
img{
    width: auto;
    height: 150px;
    margin: 5px;
}

.card{
 /* background: url('../images/fondo-violet.jpg'); */
 display: flex;
 border-radius: 6%;
 margin-top: 20px;
 margin-bottom: 20px;
}

.card:hover{
    box-shadow: 0 10px 20px 0 rgba(7, 179, 170, 0.986), 0 6px 20px 0 rgba(6, 138, 105, 0.671);
}

