form{
    background: linear-gradient(#004e92, #0f3443);
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    text-align: left;
}
.inputColor{
    width: auto;
}

.btn-submit{
    text-align: center;
}

h2{
    color: white;
}

